<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdd.gsl.dao.NewsInfoDomainMapper" >
  <resultMap id="BaseResultMap" type="com.cdd.gsl.domain.NewsInfoDomain" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="link_desc" property="linkDesc" jdbcType="VARCHAR" />
    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
    <result column="home_image" property="homeImage" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_ts" property="createTs" jdbcType="TIMESTAMP" />
    <result column="update_ts" property="updateTs" jdbcType="TIMESTAMP" />
    <result column="admin_id" property="adminId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cdd.gsl.domain.NewsInfoDomain" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, link_desc, link_url, home_image, status, create_ts, update_ts, admin_id
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.cdd.gsl.domain.NewsInfoDomainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_news_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdd.gsl.domain.NewsInfoDomainExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_news_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_news_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_news_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdd.gsl.domain.NewsInfoDomainExample" >
    delete from t_news_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdd.gsl.domain.NewsInfoDomain" >
    insert into t_news_info (id, title, link_desc, 
      link_url, home_image, status, 
      create_ts, update_ts, admin_id, 
      content)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{linkDesc,jdbcType=VARCHAR}, 
      #{linkUrl,jdbcType=VARCHAR}, #{homeImage,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTs,jdbcType=TIMESTAMP}, #{updateTs,jdbcType=TIMESTAMP}, #{adminId,jdbcType=BIGINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdd.gsl.domain.NewsInfoDomain" >
    insert into t_news_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="linkDesc != null" >
        link_desc,
      </if>
      <if test="linkUrl != null" >
        link_url,
      </if>
      <if test="homeImage != null" >
        home_image,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTs != null" >
        create_ts,
      </if>
      <if test="updateTs != null" >
        update_ts,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="linkDesc != null" >
        #{linkDesc,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="homeImage != null" >
        #{homeImage,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTs != null" >
        #{createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTs != null" >
        #{updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdd.gsl.domain.NewsInfoDomainExample" resultType="java.lang.Integer" >
    select count(*) from t_news_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_news_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.linkDesc != null" >
        link_desc = #{record.linkDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.linkUrl != null" >
        link_url = #{record.linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.homeImage != null" >
        home_image = #{record.homeImage,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTs != null" >
        create_ts = #{record.createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTs != null" >
        update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.adminId != null" >
        admin_id = #{record.adminId,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_news_info
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      link_desc = #{record.linkDesc,jdbcType=VARCHAR},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      home_image = #{record.homeImage,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_ts = #{record.createTs,jdbcType=TIMESTAMP},
      update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      admin_id = #{record.adminId,jdbcType=BIGINT},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_news_info
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      link_desc = #{record.linkDesc,jdbcType=VARCHAR},
      link_url = #{record.linkUrl,jdbcType=VARCHAR},
      home_image = #{record.homeImage,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      create_ts = #{record.createTs,jdbcType=TIMESTAMP},
      update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      admin_id = #{record.adminId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdd.gsl.domain.NewsInfoDomain" >
    update t_news_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="linkDesc != null" >
        link_desc = #{linkDesc,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null" >
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="homeImage != null" >
        home_image = #{homeImage,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTs != null" >
        create_ts = #{createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTs != null" >
        update_ts = #{updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cdd.gsl.domain.NewsInfoDomain" >
    update t_news_info
    set title = #{title,jdbcType=VARCHAR},
      link_desc = #{linkDesc,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      home_image = #{homeImage,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_ts = #{createTs,jdbcType=TIMESTAMP},
      update_ts = #{updateTs,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=BIGINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdd.gsl.domain.NewsInfoDomain" >
    update t_news_info
    set title = #{title,jdbcType=VARCHAR},
      link_desc = #{linkDesc,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      home_image = #{homeImage,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_ts = #{createTs,jdbcType=TIMESTAMP},
      update_ts = #{updateTs,jdbcType=TIMESTAMP},
      admin_id = #{adminId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>